In [1]:
import json
import pandas as pd
import numpy as np
import re
from pprint import pprint

In [2]:
file_dir = 'C://Users/M037228/Desktop/um/Movies-ETL/Resources/'

In [3]:
with open(f'{file_dir}wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [4]:
len(wiki_movies_raw)

7311

In [5]:
wiki_movies_raw[-5:]

[{'url': 'https://en.wikipedia.org/wiki/Holmes_%26_Watson',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt1255919/',
  'title': 'Holmes & Watson',
  'Directed by': 'Etan Cohen',
  'Produced by': ['Will Ferrell',
   'Adam McKay',
   'Jimmy Miller',
   'Clayton Townsend'],
  'Screenplay by': 'Etan Cohen',
  'Based on': ['Sherlock Holmes',
   'and',
   'Dr. Watson',
   'by',
   'Sir Arthur Conan Doyle'],
  'Starring': ['Will Ferrell',
   'John C. Reilly',
   'Rebecca Hall',
   'Rob Brydon',
   'Steve Coogan',
   'Ralph Fiennes'],
  'Music by': 'Mark Mothersbaugh',
  'Cinematography': 'Oliver Wood',
  'Edited by': 'Dean Zimmerman',
  'Productioncompanies ': ['Columbia Pictures',
   'Gary Sanchez Productions',
   'Mosaic Media Group',
   'Mimran Schur Pictures'],
  'Distributed by': 'Sony Pictures Releasing',
  'Release date': ['December 25, 2018',
   '(',
   '2018-12-25',
   ')',
   '(United States)'],
  'Running time': '90 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$42 million',
  'Box office': '$41.9 million'},
 {'url': 'https://en.wikipedia.org/wiki/Vice_(2018_film)',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt6266538/',
  'title': 'Vice',
  'Directed by': 'Adam McKay',
  'Produced by': ['Brad Pitt',
   'Dede Gardner',
   'Jeremy Kleiner',
   'Kevin J. Messick',
   'Will Ferrell',
   'Adam McKay'],
  'Written by': 'Adam McKay',
  'Starring': ['Christian Bale',
   'Amy Adams',
   'Steve Carell',
   'Sam Rockwell',
   'Tyler Perry',
   'Alison Pill',
   'Lily Rabe',
   'Jesse Plemons'],
  'Music by': 'Nicholas Britell',
  'Cinematography': 'Greig Fraser',
  'Edited by': 'Hank Corwin',
  'Productioncompany ': ['Plan B Entertainment',
   'Gary Sanchez Productions',
   'Annapurna Pictures'],
  'Distributed by': 'Mirror Releasing',
  'Release date': ['December 11, 2018',
   '(',
   '2018-12-11',
   ')',
   '(',
   'Samuel Goldwyn Theater',
   ')',
   'December 25, 2018',
   '(',
   '2018-12-25',
   ')',
   '(United States)'],
  'Running time': '132 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$60 million',
  'Box office': '$76.1 million'},
 {'url': 'https://en.wikipedia.org/wiki/On_the_Basis_of_Sex',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt4669788/',
  'title': 'On the Basis of Sex',
  'Directed by': 'Mimi Leder',
  'Produced by': 'Robert W. Cort',
  'Written by': 'Daniel Stiepleman',
  'Starring': ['Felicity Jones',
   'Armie Hammer',
   'Justin Theroux',
   'Sam Waterston',
   'Kathy Bates'],
  'Music by': 'Mychael Danna',
  'Cinematography': 'Michael Grady',
  'Edited by': 'Michelle Tesoro',
  'Productioncompanies ': ['Focus Features',
   '[1]',
   'Participant Media',
   '[1]',
   'Robert Cort Productions',
   '[1]',
   'Alibaba Pictures',
   '[2]'],
  'Distributed by': 'Focus Features',
  'Release date': ['November 8, 2018',
   '(',
   '2018-11-08',
   ')',
   '(',
   'AFI Fest',
   ')',
   'December 25, 2018',
   '(',
   '2018-12-25',
   ')',
   '(United States)'],
  'Running time': '120 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$38.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/Destroyer_(2018_film)',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt7137380/',
  'title': 'Destroyer',
  'Directed by': 'Karyn Kusama',
  'Produced by': ['Fred Berger', 'Phil Hay', 'Matt Manfredi'],
  'Written by': ['Phil Hay', 'Matt Manfredi'],
  'Starring': ['Nicole Kidman',
   'Sebastian Stan',
   'Toby Kebbell',
   'Tatiana Maslany',
   'Bradley Whitford',
   'Jade Pettyjohn',
   'Scoot McNairy'],
  'Music by': 'Theodore Shapiro',
  'Cinematography': 'Julie Kirkwood',
  'Edited by': 'Plummy Tucker',
  'Productioncompany ': ['30West',
   'Automatik Entertainment',
   'Annapurna Pictures'],
  'Distributed by': 'Mirror Releasing',
  'Release date': ['August 31, 2018',
   '(',
   '2018-08-31',
   ')',
   '(',
   'Telluride',
   ')',
   'December 25, 2018',
   '(',
   '2018-12-25',
   ')',
   '(United States)'],
  'Running time': '123 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$9 million',
  'Box office': '$5.5 million'},
 {'url': 'https://en.wikipedia.org/wiki/Black_Mirror:_Bandersnatch',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt9495224/',
  'title': 'Bandersnatch',
  'Directed by': 'David Slade',
  'Produced by': 'Russell McLean',
  'Written by': 'Charlie Brooker',
  'Starring': ['Fionn Whitehead',
   'Will Poulter',
   'Craig Parkinson',
   'Alice Lowe',
   'Asim Chaudhry'],
  'Music by': 'Brian Reitzell',
  'Cinematography': ['Aaron Morton', 'Jake Polonsky'],
  'Edited by': 'Tony Kearns',
  'Productioncompany ': ['House of Tomorrow', 'Netflix'],
  'Distributed by': 'Netflix',
  'Release date': ['28 December 2018', '(', '2018-12-28', ')'],
  'Running time': 'Variable; 90 minutes for default path',
  'Country': 'United Kingdom',
  'Language': 'English'}]

In [6]:
# Some records in the middle
wiki_movies_raw[3600:3605]

[{'url': 'https://en.wikipedia.org/wiki/Benji:_Off_the_Leash!',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0315273/',
  'title': 'Benji: Off the Leash!',
  'Directed by': 'Joe Camp',
  'Written by': 'Joe Camp',
  'Starring': ['Benji', 'Nick Whitaker', 'Shaggy', 'Gypsy the Cockatoo'],
  'Music by': 'Antonio di Lorenzo',
  'Productioncompany ': 'Mulberry Square Productions',
  'Distributed by': 'Mulberry Square Productions',
  'Release date': ['March 26, 2004', '(', '2004-03-26', ')'],
  'Running time': '97 min',
  'Country': 'United States',
  'Language': 'English',
  'Box office': '$3,817,362'},
 {'url': 'https://en.wikipedia.org/wiki/The_Best_Thief_in_the_World',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0389796/',
  'title': 'The Best Thief in the World',
  'Directed by': 'Jacob Kornbluth',
  'Produced by': ['Tim Perrell', 'Nicola Usborne'],
  'Written by': 'Jacob Kornbluth',
  'Starring': ['Marc Rozendaal',
   'Michael Silverman',
   'David Warshofsky',
   'Audra McDonald',
   'Lois Smith'],
  'Music by': ['Prince Paul', 'and', 'Don Newkirk'],
  'Cinematography': 'Ben Kutchins',
  'Edited by': 'Stephanie Sterner',
  'Distributed by': 'Showtime Networks',
  'Release date': ['January 16, 2004', '(', '2004-01-16', ')'],
  'Running time': '93 minutes',
  'Country': 'United States',
  'Language': 'English'},
 {'url': 'https://en.wikipedia.org/wiki/Beyond_the_Sea_(2004_film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0363473/',
  'title': 'Beyond the Sea',
  'Directed by': 'Kevin Spacey',
  'Produced by': ['Kevin Spacey',
   'Phillip Barry',
   'Dana Brunetti',
   'Arthur Friedman',
   'Jan Fantl',
   'Andy Paterson'],
  'Written by': ['Lewis Colick', 'Kevin Spacey'],
  'Starring': ['Kevin Spacey', 'Kate Bosworth', 'Bob Hoskins', 'John Goodman'],
  'Music by': 'Bobby Darin',
  'Cinematography': 'Eduardo Serra',
  'Edited by': 'Trevor Waite',
  'Productioncompany ': 'Trigger Street Productions',
  'Distributed by': ['Lionsgate Films',
   '(USA)',
   'Entertainment Film Distributors',
   '(UK)',
   'GAGA',
   '(Japan)',
   'Maple Pictures',
   '(Canada)'],
  'Release date': ['December 17, 2004', '(', '2004-12-17', ')'],
  'Running time': '118 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$25 million',
  'Box office': '$8.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/The_Big_Bounce_(2004_film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0315824/',
  'title': 'The Big Bounce',
  'Directed by': 'George Armitage',
  'Produced by': ['George Armitage', 'Steve Bing'],
  'Screenplay by': 'Sebastian Gutierrez',
  'Based on': ['The Big Bounce', 'by', 'Elmore Leonard'],
  'Starring': ['Owen Wilson',
   'Charlie Sheen',
   'Morgan Freeman',
   'Sara Foster',
   'Gary Sinise'],
  'Music by': 'George S. Clinton',
  'Cinematography': 'Jeffrey L. Kimball',
  'Edited by': 'Barry Malkin',
  'Productioncompany ': 'Shangri-La Entertainment',
  'Distributed by': 'Warner Bros. Pictures',
  'Release date': ['January 30, 2004', '(', '2004-01-30', ')'],
  'Running time': '88 minutes',
  'Language': 'English',
  'Budget': '$50 million',
  'Box office': '$6.8 million'},
 {'url': 'https://en.wikipedia.org/wiki/Birth_(film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0337876/',
  'title': 'Birth',
  'Directed by': 'Jonathan Glazer',
  'Produced by': ['Lizie Gower', 'Nick Morris', 'Jean-Louis Piel'],
  'Written by': ['Jean-Claude Carrière', 'Milo Addica', 'Jonathan Glazer'],
  'Starring': ['Nicole Kidman',
   'Cameron Bright',
   'Danny Huston',
   'Lauren Bacall'],
  'Music by': 'Alexandre Desplat',
  'Cinematography': 'Harris Savides',
  'Edited by': ['Sam Sneade', 'Claus Wehlisch'],
  'Distributed by': 'New Line Cinema',
  'Release date': ['November 8, 2004', '(', '2004-11-08', ')'],
  'Running time': '96 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$23.9 million'}]

In [7]:
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [8]:
kaggle_metadata[:5]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [9]:
kaggle_metadata[-5:]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [10]:
ratings[:5]

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [11]:
ratings[3500:3505]

      userId  movieId  rating   timestamp
3500      41   105037     5.0  1445256035
3501      41   106487     3.0  1445256396
3502      41   106489     4.5  1445255967
3503      41   106696     4.0  1445256250
3504      41   106920     3.0  1445255311

In [12]:
ratings.sample(n=10)

          userId  movieId  rating   timestamp
20231822  210326      543     4.0  1180879247
17894350  185776     4292     3.0  1006666395
7815417    80524     2581     3.0  1007351578
271304      2854     6539     3.5  1149877436
22376984  232194       19     3.0   837122943
17858656  185377     3578     4.0  1113197099
10150542  104760      652     5.0  1061901626
6907765    71239      541     3.5  1186477041
7154582    73802     1221     5.0  1336550934
1152487    11872     5378     1.5  1415649930

In [13]:
kaggle_metadata.sample(n=10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
3469,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,13105,tt0085970,en,Mr. Mom,Jack and Caroline are a couple making a decent...,...,1983-07-22,64783827.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"When mom goes to work, dad goes berserk!",Mr. Mom,False,6.5,79.0
35990,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,204269,tt0071644,en,I'm a Stranger Here Myself,Documentary,...,1975-01-17,0.0,60.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,I'm a Stranger Here Myself,False,7.0,2.0
23453,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}]",NaN,32929,tt0042219,en,Backfire,"When he's discharged from a military hospital,...",...,1950-02-11,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"That ""White Heat"" girl turns it on again!..",Backfire,False,5.5,4.0
36676,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,80080,tt0064781,cs,Ovoce stromu rajských jíme,"The story is an allegory of Adam and Eve, in a...",...,1970-07-31,0.0,99.0,"[{'iso_639_1': 'cs', 'name': 'Český'}]",Released,NaN,Fruit of Paradise,False,7.3,8.0
32704,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,316885,tt4180576,en,Bridgend,"Over a 5-year period in Bridgend in Wales, 79 ...",...,2015-01-22,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Bridgend,False,6.0,18.0
24077,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,267539,tt1046963,en,The New Rulers of the World,The myths of globalisation have been incorpora...,...,2001-07-18,0.0,65.0,[],Released,NaN,The New Rulers of the World,False,5.3,2.0
15813,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,37059,tt1479847,en,2012: Supernova,Two hundred years ago a supernova exploded som...,...,2009-10-27,0.0,87.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,NaN,2012: Supernova,False,3.7,15.0
12721,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,78998,tt0027515,en,Desire,Madeleine steals a string of pearls in Paris a...,...,1936-04-11,0.0,95.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Love was her precious loot!,Desire,False,5.2,9.0
8072,False,NaN,35000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,14846,tt0361841,en,Little Black Book,Determined to learn about her boyfriend's past...,...,2004-08-06,22034832.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Have you ever been tempted to look inside his...,Little Black Book,False,5.2,114.0
38044,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,197175,tt0067677,de,Rio das Mortes,"Michel and Guenther, working in dead-end jobs,...",...,1971-02-15,0.0,84.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Rio das Mortes,False,6.7,3.0

In [14]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [15]:
wiki_movies_df.head()

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990.0,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990.0,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990.0,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990.0,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
wiki_movies_df.columns.tolist()

['url',
 'year',
 'imdb_link',
 'title',
 'Directed by',
 'Produced by',
 'Screenplay by',
 'Story by',
 'Based on',
 'Starring',
 'Narrated by',
 'Music by',
 'Cinematography',
 'Edited by',
 'Productioncompany ',
 'Distributed by',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Written by',
 'Genre',
 'Theme music composer',
 'Country of origin',
 'Original language(s)',
 'Producer(s)',
 'Editor(s)',
 'Production company(s)',
 'Original network',
 'Original release',
 'Productioncompanies ',
 'Executive producer(s)',
 'Production location(s)',
 'Distributor',
 'Picture format',
 'Audio format',
 'Voices of',
 'Followed by',
 'Composer(s)',
 'Created by',
 'Also known as',
 'Opening theme',
 'No. of episodes',
 'Preceded by',
 'Author',
 'Publisher',
 'Publication date',
 'Media type',
 'Pages',
 'ISBN',
 'OCLC',
 'LC Class',
 'Cover artist',
 'Series',
 'Set in',
 'Adaptation by',
 'Suggested by',
 'Biographical data',
 'Born',
 'Died',
 'Resting place',
 'Occupation',
 'Years active',
 'Spouse(s)',
 'Children',
 'Parent(s)',
 'Genres',
 'Instruments',
 'Labels',
 'Website',
 'Traditional',
 'Mandarin',
 'Type',
 'Industry',
 'Fate',
 'Founded',
 'Founder',
 'Headquarters',
 'Parent',
 'Released',
 'Recorded',
 'Venue',
 'Length',
 'Label',
 'Director',
 'Producer',
 'Area',
 'Coordinates',
 'Status',
 'Opening date',
 'Closing date',
 'Replaced',
 'Replaced by',
 'Name',
 'Attraction type',
 'Music',
 'Duration',
 'Simplified Chinese',
 'Traditional Chinese',
 'Hanyu Pinyin',
 'Literal meaning',
 'Transcriptions',
 'Bopomofo',
 'Gwoyeu Romatzyh',
 'Wade–Giles',
 'IPA',
 'Yale Romanization',
 'Jyutping',
 'Hokkien POJ',
 'Animation by',
 'Color process',
 'Engine(s)',
 'Genre(s)',
 'Actor control',
 'Production company',
 'Release(s)',
 'Format(s)',
 'Simplified',
 'Characters',
 'Date premiered',
 'Place premiered',
 'Setting',
 'Original language',
 'Subject',
 'Published',
 'Dewey Decimal',
 'Text',
 'Illustrator',
 'Original title',
 'Published in English',
 'French',
 'Developed by',
 'Ending theme',
 'No. of seasons',
 'Nationality',
 'Portrayed by',
 'Alias',
 'Species',
 'Gender',
 'Family',
 'Alma mater',
 'Camera setup',
 'Novel(s)',
 'Comics',
 'Film(s)',
 'Screen story by',
 'Hangul',
 'Revised Romanization',
 'McCune–Reischauer',
 'Developer(s)',
 'Publisher(s)',
 'Designer(s)',
 'Programmer(s)',
 'Artist(s)',
 'Writer(s)',
 'Engine',
 'Platform(s)',
 'Release',
 'Mode(s)',
 'Original work',
 'Television series',
 'Japanese',
 'Hepburn',
 'Literally',
 'Cantonese',
 'Full name',
 'Height',
 'Seasons',
 'Chinese',
 'Other names',
 'Relatives',
 'Yiddish',
 'Formerly',
 'Key people',
 'Total assets',
 'Owner',
 'Number of employees',
 'Divisions',
 'Subsidiaries',
 'Arabic',
 'Romanized',
 'Predecessor',
 'Founders',
 'Area served',
 'Products',
 'Services',
 'Russian',
 'Hebrew',
 'Revenue',
 'Operating income',
 'Polish']

In [20]:
wiki_movies_df['Directed by'].count()

7103

In [21]:
#list comprehensions: compact way to apply a function to every element in a list. 

#list comprehensions instead of for loop:
    # [output for element in source_list]
# list comprehension to filuter results using conditional filter expression:
    # [output for element in source_list if filter_expression]
        #The resulting list will only have elements where the filter expression evaluates to True.



## Does movie or whatever "element" refer to row?

# how does movie = expression and also element
# why are we creating this specific filter expression????
    # ???? To create a filter expression for only movies with a director and an IMDb link, 
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie]
len(wiki_movies)

7080

In [22]:
wiki_movies_df = pd.DataFrame(wiki_movies)

In [23]:
wiki_movies_df.head()

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Hepburn,Literally,Cantonese,Chinese,Yiddish,Arabic,Romanized,Russian,Hebrew,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#why do we only need these ones?
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie) # get ones w/ director
                   and 'imdb_link' in movie # get ones with imdb link
                   and 'No. of episodes' not in movie] # excude tv shows

In [25]:
len(wiki_movies)

7076

In [26]:
episode = [movie for movie in wiki_movies_raw
               if 'No. of episodes' in movie]

In [27]:
episode_df = pd.DataFrame(episode)

In [28]:
episode_df.head()

,url,year,imdb_link,title,Also known as,Genre,Directed by,Narrated by,Opening theme,Country of origin,...,Based on,Screenplay by,Budget,Created by,Developed by,Voices of,Ending theme,Composer(s),No. of seasons,Camera setup
0,https://en.wikipedia.org/wiki/Eyes_on_the_Prize,1990,https://www.imdb.com/title/tt0092999/,Eyes on the Prize,"[Eyes on the Prize I, Eyes on the Prize II]",Documentary film,"[Orlando Bagwell, Sheila Curran Bernard, Calli...",Julian Bond,"["", Keep Your Eyes on the Prize, ""]",United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://en.wikipedia.org/wiki/Child_of_Rage,1992,https://www.imdb.com/title/tt0103955/,Child of Rage,NaN,"[Biography, Drama, Mystery]",Larry Peerce,NaN,NaN,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/The_Stand_(TV_mi...,1994,https://www.imdb.com/title/tt0108941/,The Stand,NaN,"[Apocalyptic, ,, Drama, ,, Horror, ,, Fantasy]",Mick Garris,NaN,NaN,United States,...,"[The Stand, by, Stephen King]",Stephen King,"[$28,000,000, USD, (equivalent to $47,330,938 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Mighty_Ducks_the...,1997,https://www.imdb.com/title/tt0115269/,Mighty Ducks,NaN,"[Action, /, Adventure, Science fiction]",NaN,NaN,"""Ducks Rock"" performed by Mickey Thomas",United States,...,"[The Mighty Ducks, by, Stephen Herek]",NaN,NaN,"[Marty Isenberg, Robert N. Skir, David Wise]","[Marty Isenberg, Robert N. Skir, David Wise, G...","[Ian Ziering, James Belushi, Jeff Bennett, Cla...",Various,"[Alex Goodman, Bruce Broughton, Thom Harp, Ste...",1,NaN
4,https://en.wikipedia.org/wiki/Police_2020,1997,https://www.imdb.com/title/tt0216978/,Police 2020,NaN,"[Crime drama, Science fiction]",David Richards,NaN,NaN,United Kingdom,...,NaN,NaN,NaN,Paul Abbott,NaN,NaN,NaN,Hal Lindes,NaN,Andrew McDonnell

In [42]:
#why did we make this into a df?
wiki_movies_df.keys()

Index(['url', 'year', 'imdb_link', 'title', 'Directed by', 'Produced by',
       'Screenplay by', 'Story by', 'Based on', 'Starring', 'Narrated by',
       'Music by', 'Cinematography', 'Edited by', 'Productioncompany ',
       'Distributed by', 'Release date', 'Running time', 'Country', 'Language',
       'Budget', 'Box office', 'Written by', 'Genre', 'Theme music composer',
       'Country of origin', 'Original language(s)', 'Producer(s)', 'Editor(s)',
       'Production company(s)', 'Original network', 'Original release',
       'Productioncompanies ', 'Executive producer(s)',
       'Production location(s)', 'Distributor', 'Picture format',
       'Audio format', 'Voices of', 'Followed by', 'Composer(s)', 'Created by',
       'Also known as', 'Opening theme', 'No. of episodes', 'Preceded by',
       'Adaptation by', 'Suggested by', 'Traditional', 'Mandarin', 'Released',
       'Recorded', 'Venue', 'Length', 'Label', 'Director', 'Producer',
       'Animation by', 'Color process', 'Simplified', 'French', 'Camera setup',
       'Screen story by', 'Hangul', 'Revised Romanization',
       'McCune–Reischauer', 'Original title', 'Japanese', 'Hepburn',
       'Literally', 'Cantonese', 'Chinese', 'Yiddish', 'Arabic', 'Romanized',
       'Russian', 'Hebrew', 'Polish'],
      dtype='object')

8.3.4

In [84]:

#functions =  are blocks of code within a script or algorithm that perform a specific task. 
#There are four basic parts to a function:
# Name
# Parameters
# Code block
# Return value

    # x = 'global value'

    # def foo():
    #     x = 'local value'
    #     print(x)

    # foo()
    # print(x)
# output
    # local value
    # global value

#movie is parameter
#movies are dicts and we want to make nondestructive edits
### WHAT IS MOVIE? 
def clean_movie(movie):
    #create a new LOCAL variable called movie, and assign it the new copy of the parameter "movie"
        #inside this function, "movie" refers to the local copy, changes will refer to only this copy
    movie = dict(movie) # = CONSTRUCTOR -> function that inicializes new objects:
                        #                 (reserve space in memory and copies all info into the space)
                        #This makes a copy dict() builds dictrionary directly from sequences of key-value pairs

    # make an empty dict to hold alternative titles
    alt_titles = {}

    #The different language columns are for alternate titles of the movie. 
    # Need to combine all of them into one dictionary that has all the alternate titles. 
    #loop through a list of all alternative title keys - columns are alternative title keys
    #Check if the current key exists in the movie object.
    #this is a list of all the columns that we don't think are helpful
    # KEY = COLUMN
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
         #If the current key is in movie, remove the key-value pair and add to the alternative titles dict.
        if key in movie:
            #put that key/value pair into the alternative titles dictionary
            alt_titles[key] = movie[key]
            #print(key)
           
            #The pop() method removes the item at the given index from the list and returns the removed item.
            #list_name.pop(index)
            #Remove from movie bc it is in alternative titles
            movie.pop(key)
    #After looping through every key, add the alternative titles dict to the movie object
    # if there is anything in the alt_titles dictionary (key = arabic, cantonese, etc, value = whatevs in that column)
    if len(alt_titles) > 0:
        # then put it all into a column/dict  
        movie['alt_titles'] = alt_titles
        #print(movie['alt_titles'])

    #consolidate columns with the same data
    # merge column names
    def change_column_name(old_name, new_name):
        #check if the key (column) exists in the record
        # if the old/first name is in there, then...
        if old_name in movie:
            # make it into the new name, and drop the old name (rename it)
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [99]:
# clean_movies : sent each thing(movie...) in wiki_movies through the clean_movies function
clean_movies = [clean_movie(movie) for movie in wiki_movies]



# turn clean_movies into a df
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

['Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Created by',
 'Director',
 'Distributor',
 'Editor(s)',
 'Executive producer(s)',
 'Followed by',
 'Genre',
 'Label',
 'Language',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Picture format',
 'Preceded by',
 'Producer(s)',
 'Production company(s)',
 'Production location(s)',
 'Recorded',
 'Release date',
 'Running time',
 'Starring',
 'Suggested by',
 'Venue',
 'Voices of',
 'Writer(s)',
 'alt_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [100]:
wiki_movies_df.head()

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Running time,...,Followed by,Created by,Preceded by,Suggested by,alt_titles,Recorded,Venue,Label,Animation by,Color process
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...","Andrew ""Dice"" Clay",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",102 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",NaN,Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",114 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",NaN,Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",113 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",NaN,Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",106 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",NaN,Russell Boyd,"December 19, 1990",95 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
#looking ahead - we will be using imdb id to merge datasets
#SO, we need to clean up the imdb id column
#what do we have? the link only in this dataset
wiki_movies_df['imdb_link']

0       https://www.imdb.com/title/tt0098987/
1       https://www.imdb.com/title/tt0098994/
2       https://www.imdb.com/title/tt0099005/
3       https://www.imdb.com/title/tt0099012/
4       https://www.imdb.com/title/tt0099018/
                        ...
7071    https://www.imdb.com/title/tt1255919/
7072    https://www.imdb.com/title/tt6266538/
7073    https://www.imdb.com/title/tt4669788/
7074    https://www.imdb.com/title/tt7137380/
7075    https://www.imdb.com/title/tt9495224/
Name: imdb_link, Length: 7076, dtype: object

In [102]:
#create a column titled 'imdb_id', this column will be equal to modifications form the content of the imdb_link column
#modifications 
#     wiki_movies_df['imdb_link'] = column we're extracting from
#     .str.extract() = extract capture groups from columns in DF
#          (r'') = indicates we're using regular expr
#              () = we're looking for one group
#                    tt = two lowercase t's
#                    \d = match numeric digit
#                    {7} = match the last thing (\d = numeric) exactly seven times = exactly seven numeric digits

wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')

In [103]:
wiki_movies_df['imdb_id']

0       tt0098987
1       tt0098994
2       tt0099005
3       tt0099012
4       tt0099018
          ...
7071    tt1255919
7072    tt6266538
7073    tt4669788
7074    tt7137380
7075    tt9495224
Name: imdb_id, Length: 7076, dtype: object

In [104]:
print(len(wiki_movies_df))

7076

In [105]:
#maybe there are duplicates? we should drop those
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)

print(len(wiki_movies_df))
wiki_movies_df.head()

7033

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Running time,...,Created by,Preceded by,Suggested by,alt_titles,Recorded,Venue,Label,Animation by,Color process,imdb_id
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...","Andrew ""Dice"" Clay",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",102 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098987
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",NaN,Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",114 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098994
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",NaN,Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",113 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099005
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",NaN,Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",106 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099012
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",NaN,Russell Boyd,"December 19, 1990",95 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099018

In [106]:
# use list comprehension to get the count of null values for each column
# in each column of the wiki_movies_df, sum all the nulls
# for each column
# in the list of columns for wiki movies
[[column,wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]
#                 ***with this, half the columns have >6000 null vlues

##???? why would i do it that way (above) instead of this way:
## wiki_movies_df.isnull().sum()

[['url', 0],
 ['year', 0],
 ['imdb_link', 0],
 ['title', 1],
 ['Based on', 4852],
 ['Starring', 184],
 ['Narrated by', 6752],
 ['Cinematography', 691],
 ['Release date', 32],
 ['Running time', 139],
 ['Country', 236],
 ['Language', 244],
 ['Budget', 2295],
 ['Box office', 1548],
 ['Director', 0],
 ['Distributor', 357],
 ['Editor(s)', 548],
 ['Composer(s)', 518],
 ['Producer(s)', 202],
 ['Production company(s)', 1678],
 ['Writer(s)', 199],
 ['Genre', 6923],
 ['Original language(s)', 6875],
 ['Original network', 6908],
 ['Executive producer(s)', 6936],
 ['Production location(s)', 6986],
 ['Picture format', 6969],
 ['Audio format', 6972],
 ['Voices of', 7031],
 ['Followed by', 7024],
 ['Created by', 7023],
 ['Preceded by', 7023],
 ['Suggested by', 7032],
 ['alt_titles', 7012],
 ['Recorded', 7031],
 ['Venue', 7032],
 ['Label', 7031],
 ['Animation by', 7031],
 ['Color process', 7032],
 ['imdb_id', 0]]

In [107]:
wiki_movies_df.columns

Index(['url', 'year', 'imdb_link', 'title', 'Based on', 'Starring',
       'Narrated by', 'Cinematography', 'Release date', 'Running time',
       'Country', 'Language', 'Budget', 'Box office', 'Director',
       'Distributor', 'Editor(s)', 'Composer(s)', 'Producer(s)',
       'Production company(s)', 'Writer(s)', 'Genre', 'Original language(s)',
       'Original network', 'Executive producer(s)', 'Production location(s)',
       'Picture format', 'Audio format', 'Voices of', 'Followed by',
       'Created by', 'Preceded by', 'Suggested by', 'alt_titles', 'Recorded',
       'Venue', 'Label', 'Animation by', 'Color process', 'imdb_id'],
      dtype='object')

In [108]:
#list of columns that have < 90% nulls 
# we want to keep the column if the sum of nulls is < 90% of length of total df (this means that amount of nonnulls is >
#HOW
#result out column for each column in the df list of columns 
#     IF... the sum of null (by column) in wiki_movies_df is less than 90% of the full length of the df


wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]

In [109]:
wiki_columns_to_keep

['url',
 'year',
 'imdb_link',
 'title',
 'Based on',
 'Starring',
 'Cinematography',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Director',
 'Distributor',
 'Editor(s)',
 'Composer(s)',
 'Producer(s)',
 'Production company(s)',
 'Writer(s)',
 'imdb_id']

In [110]:
# replace the df with the df w/ just the columns to keep 
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [111]:
wiki_movies_df.columns

Index(['url', 'year', 'imdb_link', 'title', 'Based on', 'Starring',
       'Cinematography', 'Release date', 'Running time', 'Country', 'Language',
       'Budget', 'Box office', 'Director', 'Distributor', 'Editor(s)',
       'Composer(s)', 'Producer(s)', 'Production company(s)', 'Writer(s)',
       'imdb_id'],
      dtype='object')

In [114]:
wiki_movies_df.count()

url                      7033
year                     7033
imdb_link                7033
title                    7032
Based on                 2181
Starring                 6849
Cinematography           6342
Release date             7001
Running time             6894
Country                  6797
Language                 6789
Budget                   4738
Box office               5485
Director                 7033
Distributor              6676
Editor(s)                6485
Composer(s)              6515
Producer(s)              6831
Production company(s)    5355
Writer(s)                6834
imdb_id                  7033
dtype: int64

**Clean up box office data**

In [192]:
#Box office data
#     1. drop blanks
#     look only at rows where this data is defined
#     make data series that drops missing values

box_office = wiki_movies_df['Box office'].dropna()

In [193]:
box_office

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7070       $19.4 million
7071       $41.9 million
7072       $76.1 million
7073       $38.4 million
7074        $5.5 million
Name: Box office, Length: 5485, dtype: object

In [194]:
# what is the point of this? does it just list the ones that are different data types? why would we do this?

# we have to make this into a string now because we need to do parsing/replacing w/ regex which needs a string
# to do this, we make a function
#     for x, return the type if it isn't a string

def is_not_a_string(x):
    return type(x) != str
def is_a_string(x):
    return type(x) == str
# .map() applies fn to each item of an iterable, returns iterator
# in box office, return all the iterators that arent strings (this comes from passing it through the function)
box_office[box_office.map(is_not_a_string)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [135]:
box_office[box_office.map(is_a_string)]

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7070       $19.4 million
7071       $41.9 million
7072       $76.1 million
7073       $38.4 million
7074        $5.5 million
Name: Box office, Length: 5350, dtype: object

In [195]:
box_office.apply(type).value_counts()

<class 'str'>     5350
<class 'list'>     135
Name: Box office, dtype: int64

In [150]:
#we want to get a list of the nonstrings w/o defining a function
#     The replacement fn:
#         (lambda x: type(x) =! str)
#              lambda x = says we're going to use this on x
#              expression: the data type of x isnt a string


# total replacement fn:

box_office[box_office.map(lambda x: type(x) != str)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [196]:
# new box office series
# .join() method
#     concatenates list items into one string
#     to use: make a separator string & call join to it
# before the .join() is what goes in between all the items in the list
# in parentheses is the list you want to join


#                                 this lambda function for x:
#                                 join x w/ spaces between if x is a list, otherwise just put x
#               .apply - apply to 
#               this series
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [197]:
box_office.apply(type).value_counts()

<class 'str'>    5485
Name: Box office, dtype: int64

In [198]:
box_office

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7070       $19.4 million
7071       $41.9 million
7072       $76.1 million
7073       $38.4 million
7074        $5.5 million
Name: Box office, Length: 5485, dtype: object

In [199]:
## THERE ARE TWO MAIN WAYS/FORMS Box Office DATA ARE WRITTEN 

# "\$"                        1. Add dollar sign: special character, need to escape it
# "\$\d+"                     2. add arbitrary (non zero) # of digits
# "\$\d+\.?"                  3. add optional decimal point: special character, needs to be escaped
# "\$\d+\.?\d*"               4. add arbitrary (but possibly zero) number of more digits
# "\$\d+\.?\d*\s*"            5. add a space (maybe more than 1) - \s
# "\$\d+\.?\d*\s*[mb]illion"  6. add word million or billion
# "\$\d+\.?\d*\s*[mb]illion"  FINAL EXPRESSION

#Because we need the escape characters to remain, we need to preface the string with an r

frm_one = r'\$\d+\.?\d*\s*[mb]illion'

In [200]:
# count how many match the form
#flags = re.IGNORECASE - ignore case
# na=False - parse non string data to false

box_office.str.contains(frm_one, flags=re.IGNORECASE, na=False).sum()

3896

In [201]:
#"\$"                          1. Add dollar sign: special character, need to escape it
     
#"\$\d{1,3}"                   2. "\d{1,3}" add a group of 1-3 digits   
    
#",\d{3}"                      3.  Match at least one group starting with a comma and followed by exactly three digits

# "(,\d{3})+"                  to match any repetition in the group, add +

# "(?:,\d{3})+"                # specify that this is a non-capturing group by inserting a question mark and colon after the opening parenthesis
# "\$\d{1,3}(?:,\d{3})+"       FINAL EXPRESSION

frm_two = r'\$\d{1,3}(?:,\d{3})+'

# count how many match the form
#flags = re.IGNORECASE - ignore case
# na=False - parse non string data to false
box_office.str.contains(frm_two, flags=re.IGNORECASE, na=False).sum()

1544

In [202]:
# To make code easier to understand - create boolean series of matching ... 

matches_frm_one = box_office.str.contains(frm_one, flags=re.IGNORECASE, na=False)
matches_frm_two = box_office.str.contains(frm_two, flags=re.IGNORECASE, na=False)

In [203]:

# ~    negation operator similar to NOT
# &    logical "and"
# |    logical "or"

#... select box office records that match neither
    #in box office, does NOT match form one and does not match form 2
box_office[~matches_frm_one & ~matches_frm_two].count()

47

In [204]:
box_office[~matches_frm_one & ~matches_frm_two]

34                         US$ 4,212,828
79                              $335.000
110                   $4.35-4.37 million
130                        US$ 4,803,039
600                           $5000 (US)
731                         $ 11,146,270
957                             $ 50,004
1070                          35,254,617
1147    $ 407,618 (U.S.) (sub-total) [1]
1446                        $ 11,829,959
1480                          £3 million
1611                            $520.000
1865                        ¥1.1 billion
2032                                 N/A
2091                                $309
2130               US$ 171.8 million [9]
2257                   US$ 3,395,581 [1]
2263            $ 1,223,034 ( domestic )
2347                            $282.175
2638            $ 104,883 (US sub-total)
2665         926,423 admissions (France)
2697      $ 1.7 million (US) (sub-total)
2823                            $414.000
2924                            $621.000
3088           $32 [2] –33.1 million [1]
3631                                 TBA
3859                  $38.9–40.3 million
3879            CN¥3.650 million (China)
4116                          £7,385,434
4123                            $161.000
4261                  $20.7–23.9 million
4306                              $20-30
4492                        $47.7 millon
4561             $45.2k (only in Turkey)
4662                USD$ 8.2 million [2]
5362                   $ 142 million [3]
5447                               £2.56
5784                            413 733$
6013                             Unknown
6145                  $17.5–18.4 million
6234                  $41.8–41.9 million
6369                               $111k
6370                                $588
6593                      less than $372
6829                    $ 41 million [3]
6843                             8 crore
6904                         $6.9 millon
Name: Box office, dtype: object

In [205]:
# "\$\d+\.?\d*\s*[mb]illion"     STARTING EXPRESSION
                                 # FIXES:
# "\$\s*\d+\.?\d*\s*[mb]illion"  Some values have spaces in between the dollar sign and the number. - add \s after dollar signs
                                 # Some values are given as a range. - addressed in the replace statement
# "\$\s*\d+\.?\d*\s*[mb]illi?on" "Million" is sometimes misspelled as "millon." - make second i optional

#Because we need the escape characters to remain, we need to preface the string with an r
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
# "\$\d{1,3}(?:,\d{3})+"         STARTING EXPRESSION
                                 # FIXES:
# "\$\s*\d{1,3}(?:,\d{3})+"                     Some values have spaces in between the dollar sign and the number. - add \s after dollar signs
# "\$\s*\d{1,3}(?:[,\.]\d{3})+"                 Some values use a period as a thousands separator, not a comma.
# "\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)" Omit anything that contains million/billion
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

In [206]:
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE, na=False)

# ~    negation operator similar to NOT
# &    logical "and"
# |    logical "or"

#... select box office records that match neither
    #in box office, does NOT match form one and does not match form 2
    
    
box_office[~matches_form_one & ~matches_form_two].count()

25

In [207]:
box_office[~matches_form_one & ~matches_form_two]

110              $4.35-4.37 million
600                      $5000 (US)
1070                     35,254,617
1480                     £3 million
1865                   ¥1.1 billion
2032                            N/A
2091                           $309
2665    926,423 admissions (France)
3088      $32 [2] –33.1 million [1]
3631                            TBA
3859             $38.9–40.3 million
3879       CN¥3.650 million (China)
4116                     £7,385,434
4261             $20.7–23.9 million
4306                         $20-30
4561        $45.2k (only in Turkey)
5447                          £2.56
5784                       413 733$
6013                        Unknown
6145             $17.5–18.4 million
6234             $41.8–41.9 million
6369                          $111k
6370                           $588
6593                 less than $372
6843                        8 crore
Name: Box office, dtype: object

In [208]:
# count how many match the form
#flags = re.IGNORECASE - ignore case
# na=False - parse non string data to false
# Some values are given as a range
    # search for any string that starts with dollar sign and ends with hyphen and replace with just a dollar sign
#replace(r'\$.*[-—–](?![a-z])',xx)   First argument - substring that will be replaced    
#replace(xxxxxxxxxxxxxxxxxxxxx,'$')  Second argument - thing that will replace it
box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [209]:
box_office[~matches_form_one & ~matches_form_two]

110                   $4.37 million
600                      $5000 (US)
1070                     35,254,617
1480                     £3 million
1865                   ¥1.1 billion
2032                            N/A
2091                           $309
2665    926,423 admissions (France)
3088              $33.1 million [1]
3631                            TBA
3859                  $40.3 million
3879       CN¥3.650 million (China)
4116                     £7,385,434
4261                  $23.9 million
4306                            $30
4561        $45.2k (only in Turkey)
5447                          £2.56
5784                       413 733$
6013                        Unknown
6145                  $18.4 million
6234                  $41.9 million
6369                          $111k
6370                           $588
6593                 less than $372
6843                        8 crore
Name: Box office, dtype: object

In [187]:
#above (form 1 and 2) = expressions to match most (enough) of box office values. 
#     but we haven't done anything w/ it but look at it
# we need to extract the parts of the strings that match the forms
#                     (creates regex that matches either == capture group)
#xxxx this isn't anything up here, it just shows it
box_office.str.extract(f'({form_one}|{form_two})')

                  0
0     $21.4 million
1      $2.7 million
2       $57,718,089
3        $7,331,647
4        $6,939,946
...             ...
7070  $19.4 million
7071  $41.9 million
7072  $76.1 million
7073  $38.4 million
7074   $5.5 million

[5485 rows x 1 columns]

In [210]:
#make a function for how we're going to get all the info from this column into the same format

def parse_dollars(s):
    
    
#     we made all the applicable fields into strings earlier
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
#         re.match(pattern, string) see if our string(s - from parameter we're passing through) matches a pattern
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
#             re.sub(pattern = (find this), replacement_string = (replace w/ this), string (this is what we're looking through))
#                     find this expression in the string and replace it w/ a space
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [219]:
box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)

                  0
0     $21.4 million
1      $2.7 million
2       $57,718,089
3        $7,331,647
4        $6,939,946
...             ...
7070  $19.4 million
7071  $41.9 million
7072  $76.1 million
7073  $38.4 million
7074   $5.5 million

[5485 rows x 1 columns]

In [217]:
#extract values from box office 
#apply parse dollars to first column
    
#                                 in the box office string,
#                                     extract all the fields that match the pattern...            [from the first column]
#                                                                                                            apply the 
#                                                                                                            parse_dollars fn
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
# and apply the results to 
# a NEW column in the df

In [218]:
wiki_movies_df['box_office']

0       21400000.0
1        2700000.0
2       57718089.0
3        7331647.0
4        6939946.0
           ...
7071    41900000.0
7072    76100000.0
7073    38400000.0
7074     5500000.0
7075           NaN
Name: box_office, Length: 7033, dtype: float64

In [220]:
wiki_movies_df.columns

Index(['url', 'year', 'imdb_link', 'title', 'Based on', 'Starring',
       'Cinematography', 'Release date', 'Running time', 'Country', 'Language',
       'Budget', 'Box office', 'Director', 'Distributor', 'Editor(s)',
       'Composer(s)', 'Producer(s)', 'Production company(s)', 'Writer(s)',
       'imdb_id', 'box_office'],
      dtype='object')

In [221]:
# we put all the box office data - cleaned! into box_office column so we can delete the other one

wiki_movies_df.drop('Box office', axis=1, inplace=True)

**Clean up budget data**

In [222]:
#create budget variable
budget = wiki_movies_df['Budget'].dropna()

#convert lists to strings
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

#remove values between dollar signs and hyphens (for ranges)
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

#parse box office data & apply
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE, na=False)
budget[~matches_form_one & ~matches_form_two]

136                         Unknown
204     60 million Norwegian Kroner
478                         Unknown
973             $34 [3] [4] million
1126               $120 [4] million
1226                        Unknown
1278                            HBO
1374                     £6,000,000
1397                     13 million
1480                   £2.8 million
1734                   CAD2,000,000
1913     PHP 85 million (estimated)
1948                    102,888,900
1953                   3,500,000 DM
1973                     ₤2,300,874
2281                     $14 milion
2451                     ₤6,350,000
3144                   € 40 million
3360               $150 [6] million
3418                        $218.32
3802                   £4.2 million
3906                            N/A
3959                    760,000 USD
4470                       19 crore
4641                    £17 million
5034              $$200 [4] million
5055           $155 [2] [3] million
5419                $40 [4] million
5424                            N/A
5447                     £4 million
5671                    €14 million
5687                   $ dead link]
6385               £ 12 million [3]
6593                     £3 million
6821                  £12.9 million
6843                      3.5 crore
6895                        919,000
7070                   €4.3 million
Name: Budget, dtype: object

In [223]:
#replace citation references

budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

C:\Users\M037228\AppData\Local\Temp/ipykernel_9408/2922641784.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  budget = budget.str.replace(r'\[\d+\]\s*', '')

136                         Unknown
204     60 million Norwegian Kroner
478                         Unknown
973                     $34 million
1126                   $120 million
1226                        Unknown
1278                            HBO
1374                     £6,000,000
1397                     13 million
1480                   £2.8 million
1734                   CAD2,000,000
1913     PHP 85 million (estimated)
1948                    102,888,900
1953                   3,500,000 DM
1973                     ₤2,300,874
2281                     $14 milion
2451                     ₤6,350,000
3144                   € 40 million
3360                   $150 million
3418                        $218.32
3802                   £4.2 million
3906                            N/A
3959                    760,000 USD
4470                       19 crore
4641                    £17 million
5034                  $$200 million
5055                   $155 million
5419                    $40 million
5424                            N/A
5447                     £4 million
5671                    €14 million
5687                   $ dead link]
6385                  £ 12 million
6593                     £3 million
6821                  £12.9 million
6843                      3.5 crore
6895                        919,000
7070                   €4.3 million
Name: Budget, dtype: object

In [224]:
#parse budget values, add to new budget column
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [225]:
#drop original budget column
wiki_movies_df.drop('Budget', axis=1, inplace=True)

**Parse Release date**

In [226]:
wiki_movies_df['Release date']

0                       [July 11, 1990, (, 1990-07-11, )]
1       [May 17, 1990, (, 1990-05-17, ), (Cannes Film ...
2                     [August 10, 1990, (, 1990-08-10, )]
3                   [December 25, 1990, (, 1990-12-25, )]
4                                       December 19, 1990
                              ...
7071    [December 25, 2018, (, 2018-12-25, ), (United ...
7072    [December 11, 2018, (, 2018-12-11, ), (, Samue...
7073    [November 8, 2018, (, 2018-11-08, ), (, AFI Fe...
7074    [August 31, 2018, (, 2018-08-31, ), (, Telluri...
7075                 [28 December 2018, (, 2018-12-28, )]
Name: Release date, Length: 7033, dtype: object

In [227]:
#parse release date

#make variable that holds nonnull values in dataframe -             converting list to string
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [228]:
#parse release date

# 1. Matches month, dd, yyyy format
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]?\d,\s\d{4}'
# 2. matches yyyy-mm-dd and yyyy/mm/dd
date_form_two = r'\d{4}.[01]\d.[0123]\d'
# 3. matches month yyyy
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
# 4. matches yyyy
date_form_four = r'\d{4}'

In [231]:
release_date

0                            July 11, 1990 ( 1990-07-11 )
1       May 17, 1990 ( 1990-05-17 ) (Cannes Film Marke...
2                          August 10, 1990 ( 1990-08-10 )
3                        December 25, 1990 ( 1990-12-25 )
4                                       December 19, 1990
                              ...
7071     December 25, 2018 ( 2018-12-25 ) (United States)
7072    December 11, 2018 ( 2018-12-11 ) ( Samuel Gold...
7073    November 8, 2018 ( 2018-11-08 ) ( AFI Fest ) D...
7074    August 31, 2018 ( 2018-08-31 ) ( Telluride ) D...
7075                      28 December 2018 ( 2018-12-28 )
Name: Release date, Length: 7001, dtype: object

In [232]:
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

                      0
0         July 11, 1990
1          May 17, 1990
2       August 10, 1990
3     December 25, 1990
4     December 19, 1990
...                 ...
7071  December 25, 2018
7072  December 11, 2018
7073   November 8, 2018
7074    August 31, 2018
7075      December 2018

[7001 rows x 1 columns]

In [233]:
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [236]:
wiki_movies_df['release_date']

0      1990-07-11
1      1990-05-17
2      1990-08-10
3      1990-12-25
4      1990-12-19
          ...
7071   2018-12-25
7072   2018-12-11
7073   2018-11-08
7074   2018-08-31
7075   2018-12-01
Name: release_date, Length: 7033, dtype: datetime64[ns]

In [237]:

wiki_movies_df.columns

Index(['url', 'year', 'imdb_link', 'title', 'Based on', 'Starring',
       'Cinematography', 'Release date', 'Running time', 'Country', 'Language',
       'Director', 'Distributor', 'Editor(s)', 'Composer(s)', 'Producer(s)',
       'Production company(s)', 'Writer(s)', 'imdb_id', 'box_office', 'budget',
       'release_date'],
      dtype='object')

In [ ]:
###? drop release date column?

#wiki_movies_df.drop('Release date', axis=1, inplace=True)

**Parse running time**

In [259]:
wiki_movies_df['Running time']

0                                 102 minutes
1                                 114 minutes
2                                 113 minutes
3                                 106 minutes
4                                  95 minutes
                        ...
7071                               90 minutes
7072                              132 minutes
7073                              120 minutes
7074                              123 minutes
7075    Variable; 90 minutes for default path
Name: Running time, Length: 7033, dtype: object

In [260]:
wiki_movies_df['Running time'].apply(type).value_counts()

<class 'str'>      6778
<class 'float'>     139
<class 'list'>      116
Name: Running time, dtype: int64

In [286]:
running_time[30:90]

30            NaN
31     95 minutes
32     98 minutes
33     84 minutes
34        101 min
35         97 min
36     86 minutes
37     99 minutes
38     97 minutes
39    138 minutes
40     99 minutes
41     85 minutes
42        91 min.
43     85 minutes
44     95 minutes
45    181 minutes
46            NaN
47     95 minutes
48     93 minutes
49    108 minutes
50    120 minutes
51     95 minutes
52    100 minutes
53     94 minutes
54    111 minutes
55    103 minutes
56    106 minutes
57    105 minutes
58    124 minutes
59            NaN
60     30 minutes
61     96 minutes
62     82 minutes
63     74 minutes
64    105 minutes
65    102 minutes
66     81 minutes
67     97 minutes
68    110 minutes
69     90 minutes
70     81 minutes
71     90 minutes
72     87 minutes
73     98 minutes
74    107 minutes
75    114 minutes
76     97 minutes
77        91 min.
78     85 minutes
79     85 minutes
80    102 minutes
81         82 min
82    101 minutes
83     85 minutes
84    128 minutes
85     83 minutes
86     90 minutes
87     95 minutes
88    162 minutes
89    145 minutes
Name: Running time, dtype: object

In [290]:
# parse running time

## why did this turn the floats into strings?
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)
running_time

0                                 102 minutes
1                                 114 minutes
2                                 113 minutes
3                                 106 minutes
4                                  95 minutes
                        ...
7071                               90 minutes
7072                              132 minutes
7073                              120 minutes
7074                              123 minutes
7075    Variable; 90 minutes for default path
Name: Running time, Length: 6894, dtype: object

In [291]:
running_time.apply(type).value_counts()

<class 'str'>    6894
Name: Running time, dtype: int64

In [ ]:
# parse running time
# look at how many look like xxx minutes
# carat - marks the beginning of the string

running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False).sum()

In [ ]:
# parse running time
# look at formats of the rest

running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False) != True]

In [ ]:
# parse running time
# look at only the m instead of entire word: minutes
running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False).sum()

In [ ]:
# parse running time
# look at formats of the rest

running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False) != True]

In [ ]:
# parse running time
# relax the condition that the pattern has to start at the beginning of the string = remove carat
    #running_time[running_time.str.contains(r'\d*\s*m', flags=re.IGNORECASE, na=False) != True]

In [ ]:
# Match all hour + minute patterns
# "\d+\s*ho?u?r?s?\s*\d*"
# "\d+"                       # 1. start w/ 1+ digits
# "\d+\s*"                    # 2. have optional space after digit, before letter "h"
# "\d+\s*ho?u?r?s?"           # 3. Capture all the possible abbreviations of "hour(s)."make every letter in "hours" optional except the "h."
# "\d+\s*ho?u?r?s?\s*"        # 4. Have an optional space after the "hours" marker.
# "\d+\s*ho?u?r?s?\s*\d*"     # 5. Have an optional number of digits for minutes.


#extract values
    #only want to extract digits, add capture groups around \d instances plus alternating character
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')


#convert strings to numerics, coercing will turn empty strings to nan, fill na = turn nan to 0
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)


#convert hour capture groups and minute capture groups to minutes if pure minutes is zero
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [ ]:
wiki_movies_df.head()

In [ ]:
#drop running time
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [ ]:
wiki_movies_df.head()

8.3.12 - Clean the Kaggle Data

STEP 1 - check and convert data types

In [ ]:
kaggle_metadata.dtypes

In [ ]:
kaggle_metadata['id']

In [ ]:
# First column = "adult"
# should be boolean
# check if any non t/f

kaggle_metadata['adult'].value_counts()

In [ ]:
# in kaggle_metadata, find something in the adult column that is NOT t/f

kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

In [ ]:
# this looks bad so we drop it

# keep rows where adult column is false, drop adult column
        # apparently we also want to drop all adult movies

kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

kaggle_metadata

In [ ]:
# look at video column
# boolean - need just true or false

kaggle_metadata['video'].value_counts()

In [ ]:
#creates boolean column
kaggle_metadata['video'] == 'True'

In [ ]:
# assign boolean column back to video
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [ ]:
kaggle_metadata['video']

In [ ]:
kaggle_metadata['video']

In [ ]:
kaggle_metadata.dtypes

In [ ]:
# convert columns to numeric
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [ ]:
# convert release_date to datetime

kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [ ]:
kaggle_metadata.dtypes

Reasonability checks on ratings data

In [ ]:
ratings.info(show_counts=True)

In [ ]:
#convert to timestamp
pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
#assign to timestamp column 
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
#pull up histogram to scan for errors
pd.options.display.float_format = '{:20,.2f}'.format
ratings['rating'].plot(kind='hist')
ratings['rating'].describe()

8.4.1 all data cleaned up - merge wikipedia and kaggle data on imdb id

In [ ]:
#use suffixes parameter to look at which dataset columns came from
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [ ]:
movies_df

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             DROP WIKIPEDIA
# running_time             runtime
# budget_wiki              budget_kaggle
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
#1. title
#look at it
movies_df[['title_wiki','title_kaggle']]

In [ ]:
#1. title
#look at ones that don't match
movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

In [ ]:
# Show any rows where title_kaggle is empty
movies_df[(movies_df['title_kaggle'] == '') | (movies_df['title_kaggle'].isnull())]

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             DROP WIKIPEDIA
# running_time             runtime
# budget_wiki              budget_kaggle
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
#runningtime v runtime
movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

In [ ]:
#runningtime v runtime
# more datapoints on x axis than y = more missing wikipedia entries


# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             DROP WIKIPEDIA
# running_time             runtime                  Keep Kaggle; fill in zeros with Wikipedia data.
# budget_wiki              budget_kaggle
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
# budget_wiki              budget_kaggle

movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

In [ ]:
# budget_wiki              budget_kaggle
# Here are some questions to consider when interpreting this scatter plot:
# Which dataset seems to have more outliers?
# Which dataset seems to have more missing data points?
# If we were to fill in the missing data points of one set with the other, which would be more likely to give us consistent data?
# Is it better to start with a base of consistent data and fill in missing points with possible outliers? 
#Or is it better to start with a base of data with outliers and fill in missing points with more consistent data?

In [ ]:
#runningtime v runtime
# more datapoints on x axis than y = more missing wikipedia entries


# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             DROP WIKIPEDIA
# running_time             runtime                  Keep Kaggle; fill in zeros with Wikipedia data.
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeros with Wikipedia data.
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
# box_office               revenue
movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
#scaling ... remove > 1 billion

movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             DROP WIKIPEDIA
# running_time             runtime                  Keep Kaggle; fill in zeros with Wikipedia data.
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeros with Wikipedia data.
# box_office               revenue                  Keep Kaggle; fill in zeros with Wikipedia data.
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
# release_date_wiki        release_date_kaggle
#we want a scatter, only works on numeric, can do linear with a dot style

movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

In [ ]:
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [ ]:

movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

In [ ]:
#two different movies combined - drop it
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') 
                                     & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [ ]:
movies_df[movies_df['release_date_wiki'].isnull()]

In [ ]:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             DROP WIKIPEDIA
# running_time             runtime                  Keep Kaggle; fill in zeros with Wikipedia data.
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeros with Wikipedia data.
# box_office               revenue                  Keep Kaggle; fill in zeros with Wikipedia data.
# release_date_wiki        release_date_kaggle      DROP WIKIPEDIA
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
movies_df['Language'].value_counts()

In [ ]:
# We need to convert the lists in Language to tuples so that the value_counts() method will work

movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [ ]:
movies_df['original_language'].value_counts(dropna=False)

In [ ]:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             DROP WIKIPEDIA
# running_time             runtime                  Keep Kaggle; fill in zeros with Wikipedia data.
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeros with Wikipedia data.
# box_office               revenue                  Keep Kaggle; fill in zeros with Wikipedia data.
# release_date_wiki        release_date_kaggle      DROP WIKIPEDIA
# Language                 original_language        DROP WIKIPEDIA
# Production company(s)    production_companies     DROP WIKIPEDIA

In [ ]:
# Production company(s)    production_companies

movies_df[['Production company(s)','production_companies']]

In [ ]:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             DROP WIKIPEDIA
# running_time             runtime                  Keep Kaggle; fill in zeros with Wikipedia data.
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeros with Wikipedia data.
# box_office               revenue                  Keep Kaggle; fill in zeros with Wikipedia data.
# release_date_wiki        release_date_kaggle      DROP WIKIPEDIA
# Language                 original_language        DROP WIKIPEDIA
# Production company(s)    production_companies     DROP WIKIPEDIA

In [ ]:
#drop the droppers
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [ ]:
#write a fn that fills in missing data and drops redundant column

def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [ ]:
# run the fn
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df

In [ ]:
#check that there aren't any columns with only one value
# make sure to convert list to tuple

for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)

In [ ]:
movies_df['video'].value_counts(dropna=False)

In [ ]:
# Reorder the columns to make the dataset easier to read

# Identifying information (IDs, titles, URLs, etc.)
# Quantitative facts (runtime, budget, revenue, etc.)
# Qualitative facts (genres, languages, country, etc.)
# Business data (production companies, distributors, etc.)
# People (producers, director, cast, writers, etc.)

In [ ]:
movies_df = movies_df.loc[:, ['imdb_id',
                              'id',
                              'title_kaggle',
                              'original_title',
                              'tagline',
                              'belongs_to_collection',
                              'url',
                              'imdb_link',
                              'runtime',
                              'budget_kaggle',
                              'revenue',
                              'release_date_kaggle',
                              'popularity',
                              'vote_average',
                              'vote_count',
                              'genres',
                              'original_language',
                              'overview',
                              'spoken_languages',
                              'Country',
                              'production_companies',
                              'production_countries',
                              'Distributor',
                              'Producer(s)',
                              'Director',
                              'Starring',
                              'Cinematography',
                              'Editor(s)',
                              'Writer(s)',
                              'Composer(s)',
                              'Based on'
                      ]]

In [ ]:
movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [ ]:
#8.4.2 transform/merge rating data
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count()

In [ ]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1)

In [ ]:
#pivot - movieid is index

rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [ ]:
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [ ]:
#left merge - kleep everyting in movies df

movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [ ]:
#not every movie got a rating for each level
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

TIME TO IMPORT TO SQL

In [ ]:
from sqlalchemy import create_engine

In [ ]:
from config import db_pw

In [ ]:
db_string = f"postgresql://postgres:{db_pw}@127.0.0.1:5432/movie_data"

In [ ]:
engine = create_engine(db_string)

In [ ]:
movies_df.to_sql(name='movies', con=engine)

In [ ]:
import time

In [ ]:
# create a variable for the number of rows imported
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

    # print out the range of rows that are being imported
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

    data.to_sql(name='ratings', con=engine, if_exists='append')

    # increment the number of rows imported by the size of 'data'
    rows_imported += len(data)

    # print that the rows have finished importing
    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')